<!DOCTYPE html>
<html>

<head>
  <title>じゃんけんゲーム</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>
  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>
  <h2>エントリー</h2>
  <ul>
    <li th:each="user : ${users}">[[${user.name}]]</li>
  </ul>

  <h2>試合結果</h2>
  <div th:each="match:${matches}">
    id:[[${match.id}]]user1:[[${match.user1}]]user2:[[${match.user2}]]user1Hand:[[${match.user1Hand}]]user2Hand:[[${match.user2Hand}]]<br>
  </div>

</body>

</html>
