<!DOCTYPE html>
<html>

<head>
  <title>じゃんけんゲーム</title>
</head>

<body>
  <div><a href="/logout">ログアウト</a></div>
  <h1>Janken GAME!</h1>
  <p>エントリー</p>
  <div th:if="${entry}">
    <ul>
      <li th:each="user : ${entry.users}">[[${user}]]</li>
    </ul>
  </div>
  <div th:if="${login_user}">
    Hi [[${login_user}]]
  </div>
  <a href="/jankengame?hand=Gu">ぐー</a>
  <a href="/jankengame?hand=Tyo">ちょき</a>
  <a href="/jankengame?hand=Pa">ぱー</a>
  <div th:if="${jankenResult}">
    <p>あなたの手 [[${hand}]]</p>
    <p>相手の手 Gu</p>
    <p>結果 [[${jankenResult}]]</p>
  </div>
</body>

</html>
